.title {
  margin-bottom: 24px;
}
.back {
  display: inline-block;
  margin-bottom: 24px;

  color: var(--color-primary);
}

.description {
  line-height: 1.7;
}

.description p:not(:last-child) {
  margin-bottom: 16px;
}

.description ul,
.description ol {
  margin: 16px 0;
  padding-left: 20px;
}

.description li:not(:last-child) {
  margin-bottom: 8px;
}
